// _base.scss
// ==============
body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
}

#{headings()} {
  font: $headFont;
  color: $headColor;
  font-weight: $bold;
}

strong {
  font-weight: $bold;
}

p {
  font-weight: $thin;
  padding-bottom: 10px;
}