@mixin backImage($image) {
  background: url($image) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} //backImage

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  } //before, after
  &:after {
    clear: both;
  } //after
} //clearfix
