footer {
  @include container(100%);
  background: lighten($dark, 20);
  padding: 30px 0;
  #socialmedia {
    text-align: center;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px;
        img {
          width: 30px;
          @include border-radius(50%);
        } //img
      } //li
    } //ul
  } //social media
} //footer