#welcome {
  @include background-image(linear-gradient(top, $yellow, $orange ));

  article {
    text-align: center;

    @include container(70%);
    @include breakpoint($small) {
      @include container(33em);
      padding: 60px 0;
    }

    h1 {
      font-weight: $normal;
      line-height: 100%;
      text-align: center;
      color: darken($orange, 20);
      padding: 10px 0;
    } //h1

    p {
      color: $dark;
    }

    .gallery {
      @include clearfix;
      img {
        @include border-radius(20%);
        display: none;

        @include breakpoint($small) {
          @include gallery(1 of 4); 
          display: inline;
          &.hidesm {display: none;}
        }

        @include breakpoint($medium) {
            display: inline;
            @include gallery(1 of 5); 
           &.hidesm {display: inline;}
        }
      }
    }
  } //article
} //welcome