#attractions {
  @include clearfix;
  @include container(100%);
  padding: 0;
  @include backImage('../images/hotel/attractions.jpg');
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);
 
  article {
    @include container(80%);
    @include breakpoint($medium) {
      @include container(50%);
    }
    padding: 20px;
    margin: 200px 0;
    background: rgba(white, .8);
    @include border-radius(10px);
  }
}
