@import "http://fonts.googleapis.com/css?family=Patua+One|Inika|Exo+2:100,200,400,600,800";
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 106, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.21/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 3, ../components/sass/_base.scss */
body {
  font: 200 1em/1.5em "Exo 2", sans-serif;
  background: white;
  color: black;
}

/* line 9, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font: 400 1.5em/1.5em "Exo 2", sans-serif;
  color: #6c71c4;
}

/* line 14, ../components/sass/_base.scss */
strong {
  font-weight: 600;
}

/* line 1, ../components/sass/_layout.scss */
main {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1, ../components/sass/modules/_intro.scss */
#intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../images/attractions/streetsignhotelinback.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 12, ../components/sass/modules/_intro.scss */
#intro h1 {
  color: white;
  font-size: 5em;
  font-weight: 800;
  line-height: .8em;
  text-shadow: black 0 0 20px;
  text-transform: capitalize;
  text-align: center;
}
/* line 22, ../components/sass/modules/_intro.scss */
#intro h2 {
  color: white;
  z-index: 10;
  margin: 0 auto;
  margin-top: 15px;
  font-size: 1.3em;
  width: 50%;
  padding: 10px;
  border: 1px solid white;
  text-transform: capitalize;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

/* line 1, ../components/sass/modules/_nav.scss */
#nav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNWM3MSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA2MzY0MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #0a5c71, #063642);
  background-image: -webkit-linear-gradient(top, #0a5c71, #063642);
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
}
/* line 5, ../components/sass/modules/_nav.scss */
#nav section.navbar {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#nav section.navbar:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../components/sass/modules/_nav.scss */
#nav section.navbar a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}
/* line 16, ../components/sass/modules/_nav.scss */
#nav section.navbar .brand {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
  font-weight: 600;
  font-size: 1.5em;
  font-family: 400 1.5em/1.5em "Exo 2", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: #df4848;
  padding: 10px;
}
/* line 29, ../components/sass/modules/_nav.scss */
#nav section.navbar ul {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 66.66667%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 31, ../components/sass/modules/_nav.scss */
#nav section.navbar ul a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  font-weight: 200;
  font-size: 1em;
  font-family: 400 1.5em/1.5em "Exo 2", sans-serif;
}
/* line 37, ../components/sass/modules/_nav.scss */
#nav section.navbar ul a:hover {
  background-color: #efc94c;
  color: black;
}

/* line 1, ../components/sass/modules/_welcome.scss */
#welcome {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzk0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UyN2EzZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #efc94c, #e27a3f);
  background-image: -webkit-linear-gradient(top, #efc94c, #e27a3f);
  background-image: linear-gradient(to bottom, #efc94c, #e27a3f);
}
/* line 4, ../components/sass/modules/_welcome.scss */
#welcome article {
  padding: 120px 0;
  text-align: center;
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#welcome article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, ../components/sass/modules/_welcome.scss */
#welcome article h1 {
  font-weight: 400;
  text-align: center;
  color: #a24a19;
}
/* line 15, ../components/sass/modules/_welcome.scss */
#welcome article p {
  color: black;
}
/* line 24, ../components/sass/_mixins.scss */
#welcome article .gallery:before, #welcome article .gallery:after {
  content: "";
  display: table;
}
/* line 29, ../components/sass/_mixins.scss */
#welcome article .gallery:after {
  clear: both;
}
/* line 21, ../components/sass/modules/_welcome.scss */
#welcome article .gallery img {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  float: left;
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
#welcome article .gallery img:nth-child(5n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
#welcome article .gallery img:nth-child(5n + 2) {
  margin-left: 20%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
#welcome article .gallery img:nth-child(5n + 3) {
  margin-left: 40%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
#welcome article .gallery img:nth-child(5n + 4) {
  margin-left: 60%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_gallery.scss */
#welcome article .gallery img:nth-child(5n + 5) {
  margin-left: 80%;
  margin-right: -100%;
  clear: none;
}

/* line 1, ../components/sass/modules/_events.scss */
#events {
  overflow: hidden;
}
/* line 3, ../components/sass/modules/_events.scss */
#events .content {
  padding: 50px 0;
  color: white;
  font-weight: 100;
  line-height: 130%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#events .content:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 9, ../components/sass/modules/_events.scss */
#events .content h2 {
  color: white;
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 10px;
}
/* line 16, ../components/sass/modules/_events.scss */
#events .content p {
  padding: 5px 0;
}
/* line 20, ../components/sass/modules/_events.scss */
#events .content ul {
  margin: 0 15%;
  list-style: square;
}
/* line 24, ../components/sass/modules/_events.scss */
#events .content ul li {
  padding: 5px 0;
}

/* line 1, ../components/sass/modules/_businessmeetings.scss */
#businessmeetings {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("../images/events/conferencecheckin.jpg");
  background-repeat: no-repeat;
  background-position: 65% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 5, ../components/sass/modules/_businessmeetings.scss */
#businessmeetings .content {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 7, ../components/sass/modules/_businessmeetings.scss */
#businessmeetings .content h2 {
  font-size: 3em;
}

/* line 1, ../components/sass/modules/_weddings.scss */
#weddings {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("../images/events/brideandgroomballroom.jpg");
  background-repeat: no-repeat;
  background-position: 40% center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
/* line 5, ../components/sass/modules/_weddings.scss */
#weddings .content {
  margin-left: 58.33333%;
}

/* line 1, ../components/sass/modules/_dining.scss */
#dining {
  margin: 40px 0;
}
/* line 4, ../components/sass/modules/_dining.scss */
#dining article {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#dining article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, ../components/sass/modules/_dining.scss */
#dining #areadining h1 {
  font-weight: 200;
  font-size: 2.5em;
  color: #df4848;
}
/* line 15, ../components/sass/modules/_dining.scss */
#dining #areadining p {
  font-size: 1.5em;
  line-height: 140%;
}
/* line 21, ../components/sass/modules/_dining.scss */
#dining #roomservice {
  margin-top: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlZmFmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #ffffff, #fefaf0);
  background-image: -webkit-linear-gradient(top, #ffffff, #fefaf0);
  background-image: linear-gradient(to bottom, #ffffff, #fefaf0);
  padding-left: 13.33333%;
  padding-right: 13.33333%;
  text-align: center;
  border-top: 1px solid #df4848;
  border-bottom: 1px solid #df4848;
}
/* line 22, ../components/sass/modules/_dining.scss */
#dining #roomservice h1 {
  color: #df4848;
}
/* line 34, ../components/sass/modules/_dining.scss */
#dining section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}
/* line 36, ../components/sass/modules/_dining.scss */
#dining section h2 {
  font-size: 1.2em;
  line-height: 120%;
  padding: 10px 0;
  color: #cd0069;
}
/* line 43, ../components/sass/modules/_dining.scss */
#dining section p {
  font-size: 1em;
  line-height: 130%;
}
/* line 48, ../components/sass/modules/_dining.scss */
#dining section img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 1, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo {
  margin: 40px 0;
  padding: 30px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhM2Y5MCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ1YjI5ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, #3a3f90, #45b29d);
  background-image: -webkit-linear-gradient(top, #3a3f90, #45b29d);
  background-image: linear-gradient(to bottom, #3a3f90, #45b29d);
  color: white;
}
/* line 8, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo h1, #hotelinfo h2, #hotelinfo h3, #hotelinfo h4, #hotelinfo h5, #hotelinfo h6 {
  color: white;
}
/* line 12, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo .heading {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#hotelinfo .heading:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 14, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo .heading h1 {
  font-size: 3em;
  font-weight: 100;
}
/* line 20, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#hotelinfo article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  padding-left: 2.08333%;
  padding-right: 2.08333%;
}
/* line 26, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section h2 {
  color: #b5b7e1;
  font-size: 1.3em;
  line-height: 110%;
  padding: 10px 0;
}
/* line 33, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section p {
  font-size: 1em;
  line-height: 130%;
}
/* line 42, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section ul {
  margin: 10px 20px;
}
/* line 45, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section ul li {
  list-style: square;
  line-height: 115%;
  margin-bottom: 5px;
  margin-left: 20px;
}
/* line 56, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section#arrivalinfo ul {
  margin: 0;
}
/* line 59, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section#arrivalinfo ul li {
  list-style: none;
  border-top: 1px solid white;
  padding: 15px 0;
}
/* line 64, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section#arrivalinfo ul li strong {
  color: #efc94c;
}
/* line 68, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article section#arrivalinfo ul li:first-child {
  border-top: none;
}
/* line 77, ../components/sass/modules/_hotelinfo.scss */
#hotelinfo article#greenprogram {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYzk0YyIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTQ0M2MiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, rgba(239, 201, 76, 0.1), rgba(26, 68, 60, 0.5));
  background-image: -webkit-linear-gradient(top, rgba(239, 201, 76, 0.1), rgba(26, 68, 60, 0.5));
  background-image: linear-gradient(to bottom, rgba(239, 201, 76, 0.1), rgba(26, 68, 60, 0.5));
  border: 1px solid white;
  padding: 20px 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/* line 2, ../components/sass/modules/_rooms.scss */
#rooms img {
  max-width: 200px;
}
/* line 6, ../components/sass/modules/_rooms.scss */
#rooms article {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#rooms article:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 3, ../components/sass/modules/attractions.scss */
#attractions article {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
/* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
#attractions article:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 8, ../components/sass/modules/attractions.scss */
#attractions img {
  max-width: 200px;
}
